## Some Investigation on Collected Twitter Data

In [1]:
import os

tweets = []
for file_name in os.listdir('twitter_data/persian-ner-twitter-data'):
    if 'persian-ner-twitter-data' in file_name:
        with open(os.path.join('twitter_data/persian-ner-twitter-data', file_name), 'r') as file:
            tweet = []
            line_number = 0
            for line_number, line in enumerate(file.readlines()):
                if line != '\n':
                    tweet.append(line.split('\t'))
                else:
                    tweets.append(tweet)
                    tweet = []

### Number of Tweets

In [2]:
len(tweets)

7161

### Number of Tokens

In [3]:
len([x for tweet in tweets for x in tweet ])

232609

In [4]:
len([x for tweet in tweets for x in tweet if 'ORG' in x[1]])

5105

In [5]:
len([x for tweet in tweets for x in tweet if 'PER' in x[1]])

9578

In [6]:
len([x for tweet in tweets for x in tweet if 'LOC' in x[1]])

6669

In [7]:
len([x for tweet in tweets for x in tweet if 'NAT' in x[1]])

956

In [8]:
len([x for tweet in tweets for x in tweet if 'EVE' in x[1]])

1146

In [9]:
length_of_tweets = [len(x) for x in tweets]

In [11]:
sum(length_of_tweets)/len(length_of_tweets)

32.482753805334454